# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
fraud_detect_fe/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
fraud_detect_fe/.next/
fraud_detect_fe/out/

# production
fraud_detect_fe/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
fraud_detect_fe/.env*

# vercel
fraud_detect_fe/.vercel

# typescript
fraud_detect_fe/*.tsbuildinfo
fraud_detect_fe/next-env.d.ts